body {
    text-align: center;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
    border: 1px solid black
}

h1 {
    font-size: 16px;
 }